html {
	height: 100%;
    overflow-y: hidden;
}

body {
	border: medium none;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    font-family: 'Droid Sans',Helvetica,arial,sans-serif;
    font-size: 12px;
}

/* Misc classes */
.hidden {
	display:none;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}
/* Buttons from http://webdesignerwall.com/tutorials/css3-gradient-buttons */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}


/* Start CSS */
#app, #top, #middle, #bottom {
    min-width: 960px;
}

#top {
	bottom: auto;
    display: block;
    height: 80px;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    width: auto;
    z-index: 1;
}

.top-header {
background-color: #F6F6F6;
background-image: -moz-linear-gradient(90deg,#C3C3C3,#F6F6F6);
background-image: -webkit-gradient(linear,0%0%,0%100%,from(#F6F6F6), to(#C3C3C3));
color: #5F5F5F;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6F6F6',endColorstr='#C3C3C3',GradientType=0);
height: 28px;
line-height: 28px;
padding: 0 10px;
text-shadow: -1px 1px 0 #F0F0F0;
}

.top-header h4 {
float: left;
font-weight: 400;
color: #7A7A7A;
text-shadow: -1px 1px 0 #D9D9D9;
text-transform: capitalize;
}

.top-header ul {
float: right;
}

.top-header h4 a {
color: #7A7A7A;
text-decoration: none;
}

.top-header ul li:first-child {
border-left: none;
padding: 0 15px 0 0;
}

.top-header ul li {
float: left;
padding: 0;
height: 28px;
}

.top-header ul li:last-child, .nav ul li:last-child {
border-right: none;
}

.nav {
background-color: #363636;
background-image: -moz-linear-gradient(90deg,#161616,#363636);
background-image: -webkit-gradient(linear,0%0%,0%100%,from(#363636), to(#161616));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#363636',endColorstr='#161616',GradientType=0);
height: 52px;
}

.nav ul.header-right {
	float: right;
}

.nav ul li {
	font-size: 16px;
	color: #D3D6D7;
	line-height: 52px;
	height: 52px;
	float:left;
	padding: 0 10px;
}

#middle {
	position: absolute;
	margin: 0px;
	visibility: visible;
	display: block;
	overflow: hidden;
	z-index: 1;
	top: 80px;
	bottom: 37px;
	left: 0px;
	right: 0px;
}

#middle .left {
	position: absolute;
	margin: 0px;
	right: auto;
	z-index: 1;
	left: 0px;
	visibility: visible;
	display: block;
	min-width: 247px;
	background: #D3D6D7;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid darkGray;

}

.side-header {
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(90deg,#D8D8D8,#F1F1F1);
	background-image: -webkit-gradient(linear,0%0%,0%100%,from(#F1F1F1), to(#D8D8D8));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F1F1',endColorstr='#D8D8D8',GradientType=0);
	color: dimGray;
	font-weight: 400;
	height: 18px;
	line-height: 18px;
	text-align: left;
	text-shadow: 0 1px 0 #F1F1F1;
	text-transform: uppercase;
	padding: 0 8px;
}

#middle .left ul li {
	color: #222222;
    display: block;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
}

#middle .right {
	position: absolute;
	margin: 0px;
	z-index: 1;
	visibility: visible;
	display: block;
	top: 0px;
	bottom: 0px;
	left: 248px;
	right: 0px;
	background: #FFF;
}

#middle .right h5 {
	padding: 0 8px;
}

#sub-right {
	height: 100%;
	position: absolute;
	margin: 0px;
	z-index: 1;
	visibility: visible;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0px;
	background: white;
	overflow-y: auto;
}

#sub-right h1 {
	border-bottom: 3px solid dimGray;
    font-size: 25px;
    margin: 10px auto;
    padding: 10px 0 20px;
    text-align: center;
    color: #111;
}

#sub-right > p {
	font-size: 16px;
    padding: 10px;
}

#middle .right .side-header {
	text-transform: none;
	font-weight: 700;
	color: #111;
}

.resource-list {
	color: #F1F1F1;
	border-radius: 0 0 8px 8px;
	background: #F1F1F1;
}

.resource-list li {
	border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
	line-height: 35px;
    padding: 0 20px;
	color: #333;
	cursor: pointer;
}

.resource-list li:hover {
	background: #598DA3;
	color: #F1F1F1;
}

.resource-list li:first{
	border-radius: 8px 8;
}

#sub-right .header {
	background: #D3D6D7;
    border-radius: 8px 8px 0 0;
    padding: 13px 20px;
}

.resource-content > div {
	font-size: 14px;
    height: 26px;
    line-height: 26px;
}

div.form {
	padding-bottom:15px;
}

div.form label, div.form span {
	width: 80px;
	text-align: right;
	float:left;
	margin-right: 20px;
	padding: 5px 0 0;
}

#po-submit {
	margin-left: 120px;
}

.destroy {
	background: url('/images/destroy.png') no-repeat;
	text-indent: -9999px;
}

.po-vendor, .po-date, .po-user {
	width: 250px;

}

.po-amount {
	width: 100px;
}

.resource-list li div.approved, .resource-list li div.confirmed, .resource-content div.confirmed, .resource-content div.approved {
	border-radius: 5px;
	color: #F1F1F1;
	padding: 0 7px;
	margin: 4px;
	line-height: 26px;
	height: 26px;
}

.resource-list li div.approved, .resource-content div.approved {
	background: #598DA3;
	width: 66px;
}

.resource-list li div.confirmed, .resource-content div.confirmed {
	background: #A3595A;
	width: 66px;
}

.resource-list li:hover div.approved, .resource-list li:hover div.confirmed {
	background: #F1F1F1;
	color: #598DA3;
}

.resource-list li div.approved:hover, .resource-list li div.confirmed:hover {
	background: #F4FCE8;
}

#po {
	overflow: hidden;
}



#po div, #po span, .header div {
	float: left;
}

#bottom {
	position: absolute;
	margin: 0px;
	top: auto;
	width: auto;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 37px;
	visibility: visible;
	display: block;
	z-index: 1;

	background: #303030;
	background-image: -moz-linear-gradient(90deg,#111,#303030);
	background-image: -webkit-gradient(linear,0%0%,0%100%,from(#303030), to(#111));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323232',endColorstr='#111',GradientType=0);
	height: 37px;

	color: #7A7A7A;
    text-decoration: none;
}

#bottom ul li a {
	height: 37px;
	line-height: 37px;
	float:left;
	margin-right: 10px;
	padding: 0 10px;
	text-decoration: none;
}

#sign_in_over {
	width: 100%; 
	height: 100%; 
	position: absolute; 
	background: rgba(17,17,17,.7); 
	z-index: 2; 
	display:none;
	overflow: hidden;
}

#sign_in_form {
	z-index: 3;
	color: black;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 400px;
	top: 0px;
	float: right;
	height: 100%;
	display: block;
	position: relative;
	background-position: initial initial;
	background-repeat: initial initial;
	background: #F1F1F1;
}

#sign_in_form h1 {
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding-bottom: 10px;
}

#sign_in_form p {
	font-size: 16px;
	text-align: center;
	padding: 0 20px 10px;
}

#sign_in_form input, .form input{
	border-radius: 4px;
	height: 22px;
	width: 350px;
	font-size: 15px;
	margin: 5px 20px;
	padding: 0 5px;
	
}

#sign_in_form input[type=checkbox] {
	width: auto;
	height: auto;
}

.remember_me {
	font-size: 15px;
	line-height: 150%;
	padding: 5px 0px 5px 20px;
}

#signinlogin {
	margin: 5px 20px;
}