<div  id="app">
    <div class="title">
        <h1>Listing pos</h1>
    </div>
    <div class="content">
        <div id="create-po"></div>
        <div id="pos">
            <ul id="po-list"></ul>
        </div>
    </div>
    <div class="footer"></div>
</div>