<div class="new-resource">
<ul>
<li class="vendor"><a href="/#vendor/new">New Vendor</a></li>
<li class="po"><a href="/#po/new">New PO</a></li>
<li class="po-approve"><a href="/#po/approve">Approve POs</a></li>
<li class="po-confirm"><a href="/#po/confirm">Confirm POs</a></li>
</ul>
</div>