<div class="resource">
    <div class="resource-content">
    	<form>
		    <label for='name'>Title</label>
		    <input id="search" name='name' type='text' autocomplete="off" />
		    
		    <button>Create</button>
		</form>


    </div>
    <div class="resource-results"></div>
    <div class="cancel">Go Back</div>
</div>