<div id="po">
	<div class="po-vendor"><a class="button" href="/#vendor/<%= vendor_id %>"><%= vendor.name %></a></div>
	<div class="po-date"><%= needed %></div>
	<div class="po-user"><%= user.email %></div>
	<div class="po-amount"><%= amount %></div>
	<div style="float:left">
		<%= approved %>
		<%= confirmed %>
		<a href="#" class="button negative"><span class="icon cross"></span>Remove PO</a>
	</div>
</div>