<div id="po">
	<div class="po-vendor"><a href="/#vendor/<%= vendor_id %>"><%= vendor.name %></a></div>
	<div class="po-date"><%= needed %></div>
	<div class="po-user"><%= user.email %></div>
	<div class="po-amount"><%= amount %></div>
	<span class="po-destroy"></span>
</div>